<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<!-- BOOTSTRAP REBOOT -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- MODAL -->
	<link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="css/main.css">
	<title>О компании</title>
</head>
<body>
	<!-- PRELOADER -->
	<div id="page-preloader">
		<div class="csscssload-load-frame">
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
		</div>
	</div>
	<!-- PRELOADER FINISH -->
	<header class="header" id="header">
		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-7 col-4">
						<a href="index.html" class="logo">
							<img src="img/logo.png" alt="Lab Consulting">
						</a>
					</div>
					<div class="col-lg-6 d-none d-lg-block menu-collapse">
						<ul class="menu d-flex justify-content-around">
							<li class="menu__item">
								<a href="about.html">О компании</a>
							</li>
							<li class="menu__item">
								<a href="#">Пресс-центр</a>
							</li>
							<li class="menu__item">
								<a href="services.html">Услуги</a>
							</li>
							<li class="menu__item">
								<a href="#">Отрасли</a>
							</li>
							<li class="menu__item">
								<a href="contacts.html">Контакты</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-sm-4 col-5">
						<div class="header__btn btn d-flex">
							<i class="fa fa-phone fa-phone_rotate fa-phone_btn"></i>
							<a href="#" class="phone-btn">
								Заказать звонок
							</a>
						</div>
					</div>
					<div class="col-1 d-lg-none">
						<button class="menu-open">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="header-about">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-12">
						<div class="about">
							<h1 class="about__title">
								О компании
							</h1>
							<div class="about__link d-flex">
								<a href="index.html" class="about__home">Главная</a>
								<p class="about__descrip">→ О компании</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-12">
						<ul class="about-menu d-flex">
							<li class="about-menu__item">
								<a href="#">Видение</a>
							</li>
							<li class="about-menu__item item-active">
								<a href="#">Преимущества</a>
							</li>
							<li class="about-menu__item">
								<a href="#">Клиенты</a>
							</li>
							<li class="about-menu__item">
								<a href="#">Партнеры</a>
							</li>
							<li class="about-menu__item about-menu__item_last">
								<a href="#">Контакты</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>	
	<section class="feature" id="feature">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="feature__title">
						Преимущества LAB Consult
					</h2>
				</div>
				<div class="col-md-6">
					<p class="feature__text feature__text_left">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					</p>
				</div>
				<div class="col-md-6">
					<p class="feature__text feature__text_right">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat commodo consequat.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="advantage d-flex">
						<div class="wrapper">
							<div class="wrapper__overlay"></div>
							<img src="img/scale.png" alt="feature">
						</div>
						<div class="advan">
							<h6 class="advan__title">
								Первое весомое преимущество
							</h6>
							<p class="advan__text">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="advantage d-flex">
						<div class="wrapper">
							<div class="wrapper__overlay"></div>
							<img src="img/scale.png" alt="feature">
						</div>
						<div class="advan">
							<h6 class="advan__title">
								Второе сильное и мощное преимущество
							</h6>
							<p class="advan__text">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="advantage advantage_third d-flex">
						<div class="wrapper">
							<div class="wrapper__overlay"></div>
							<img src="img/scale.png" alt="feature">
						</div>
						<div class="advan">
							<h6 class="advan__title">
								Третье и финальное сильное и мощное преимущество
							</h6>
							<p class="advan__text">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gallery" id="gallery">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="gallery__title">
						Фото наших мощностей
					</h2>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="image">
						<div class="overlay">
							<i class="fa fa-expand"></i>
						</div>
						<img src="img/truck.jpg" alt="Photos of our facilities">
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="image">
						<div class="overlay">
							<i class="fa fa-expand"></i>
						</div>
						<img src="img/truck2.jpg" alt="Photos of our facilities">
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="image">
						<div class="overlay">
							<i class="fa fa-expand"></i>
						</div>
						<img src="img/truck3.jpg" alt="Photos of our facilities">
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="image">
						<div class="overlay">
							<i class="fa fa-expand"></i>
						</div>
						<img src="img/truck4.jpg" alt="Photos of our facilities">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							О компании
						</h6>
						<a href="#">Видение, миссия и ценности</a>
						<a href="#">Преимущества</a>
						<a href="#">Клиенты</a>
						<a href="#">Партнеры</a>
						<a href="#">Контакты</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Пресс – центр
						</h6>
						<a href="#">Новости</a>
						<a href="#">Публикации</a>
						<a href="#">Мероприятия</a>
						<a href="#">Консультация эксперта</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Услуги
						</h6>
						<a href="#">Legal (Юридическое сопровождение)</a>
						<a href="#">Accounting ( Финансовый аутсорсинг)</a>
						<a href="#">Business Consulting (Бизнес консалтинг)</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Отрасли
						</h6>
						<a href="#">Аграрный сектор</a>
						<a href="#">Внешнеэкономическая деятельность</a>
						<a href="#">ИT – бизнес</a>
						<a href="#">Оптовая и розничная торговля</a>
						<a href="#">Сфера услуг</a>
						<a href="#">Транспорт и Логистика</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Образовательный центр
						</h6>
						<a href="#">Про Образовательный Центр</a>
						<a href="#">Бизнес-тренинги, семинары, круглые столы</a>
						<a href="#">Преимущества</a>
						<a href="#">Alumni</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Соц. предпринимательство
						</h6>
						<a href="#">Социальная миссия</a>
						<a href="#">Проекты</a>
						<a href="#">Партнеры</a>
						<a href="#">Консультация эксперта</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="img/logo-footer.png" alt="Lab Consulting" class="footer__img">
				</div>
				<div class="col-lg-3 col-sm-4">
					<p class="footer__text">
						Вы хотите сотрудничать с нами?<br>У Вас есть идеи или предложения?<a href="#" class="footer__link"> Свяжитесь с нами прямо сейчас!</a>
					</p>
					<p class="footer__adress">
						65000,<br> Украина, г. Одесса Ул Базарная, 36
					</p>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="design d-flex">
						<a href="#" class="design__link">W</a>
						<div class="design__text">
							<p class="design__web">
								Дизайн и разработка
							</p>
							<a href="#" class="design__online">
								Верстка
							</a>
						</div>
					</div>
					<div class="security">
						<p class="security__text">
							© Все права защищены
						</p>
						<p class="security__text">
							LAB Consulting
						</p>
						<a href="#" class="footer__sait">
							lab-consult.com
						</a>
					</div>
				</div>
				<div class="col-lg-2 d-sm-none d-lg-block d-block col-12">
					<div class="footer__btn btn d-flex phone-btn">
						<i class="fa fa-phone fa-phone_btn"></i>
						<a href="#" class="">
							Заказать звонок
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div style="display: none;">
	    <div class="box-modal" id="exampleModal">
	        <div class="box-modal_close arcticmodal-close">закрыть</div>
	        <form action="#" class="form">
	        	<input type="tel" name="tel" placeholder="Введите телефон">
	        	<div class="footer__btn btn d-flex form__btn">
					<i class="fa fa-phone fa-phone_btn"></i>
					<a href="#">
						Заказать звонок
					</a>
				</div>
	        </form>
	    </div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>