<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<!-- BOOTSTRAP REBOOT -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- MODAL -->
	<link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="css/main.css">
	<title>Главная</title>
</head>
<body>
	<!-- PRELOADER -->
	<div id="page-preloader">
		<div class="csscssload-load-frame">
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
		</div>
	</div>
	<!-- PRELOADER FINISH -->
	<header class="header-home" id="header-home" data-type="background" data-speed="5">
		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-7 col-4">
						<a href="index.html" class="logo">
							<img src="img/logo.png" alt="Lab Consulting">
						</a>
					</div>
					<div class="col-lg-6 d-none d-lg-block menu-collapse">
						<ul class="menu d-flex justify-content-around">
							<li class="menu__item">
								<a href="about.html">О компании</a>
							</li>
							<li class="menu__item">
								<a href="#">Пресс-центр</a>
							</li>
							<li class="menu__item">
								<a href="services.html">Услуги</a>
							</li>
							<li class="menu__item">
								<a href="#">Отрасли</a>
							</li>
							<li class="menu__item">
								<a href="contacts.html">Контакты</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-sm-4 col-5">
						<div class="header__btn btn d-flex phone-btn">
							<i class="fa fa-phone fa-phone_btn"></i>
							<a href="#">
								Заказать звонок
							</a>
						</div>
					</div>
					<div class="col-1 d-lg-none">
						<button class="menu-open">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="offer">
						<h1 class="offer__title">
							LAB Consulting
						</h1>
						<p class="offer__text">
							Ваш надежный партнер в области транспортно-логистического сопровождения
						</p>
						<div class="offer__socil social d-flex">
							<a href="#" class="offer__facebook">
								<i class="fab fa-facebook"></i>
							</a>
							<a href="#" class="offer__twitter">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#" class="offer__telegram-plane">
								<i class="fab fa-telegram-plane"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="trust" id="trust">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="trust__title">
						Мы заслужили доверие
					</h2>
				</div>
				<div class="col-lg-4 col-sm-6 col-12">
					<div class="reason">
						<img src="img/lamp.png" alt="Idea">
						<h5 class="reason__title">
							Что мы предлагаем?
						</h5>
						<p class="reason__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12">
					<div class="reason">
						<img src="img/icon.png" alt="Work" class="reason__img">
						<h5 class="reason__title">
							Как мы работаем?
						</h5>
						<p class="reason__text">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ill
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="reason">
						<img src="img/star.png" alt="Reason">
						<h5 class="reason__title">
							Почему мы?
						</h5>
						<p class="reason__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
						</p>
					</div>
				</div>
				<div class="col-md-12">
					<a href="#specificity" class="trust__btn btn go">
						Подробнее
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="specificity" id="specificity">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-12">
					<div class="specific">
						<span class="specific__letter">
							L
						</span>
						<h3 class="specific__title">
							<span class="specific__sign">L</span>egal
						</h3>
						<p class="specific__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="specific">
						<span class="specific__letter">
							A
						</span>
						<h3 class="specific__title">
							<span class="specific__sign">A</span>ccounting
						</h3>
						<p class="specific__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="specific">
						<span class="specific__letter">
							B
						</span>
						<h3 class="specific__title">
							<span class="specific__sign">B</span>usiness
						</h3>
						<p class="specific__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="missions" id="missions">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-12">
					<h4 class="missions__title">
						Миссия LAB Consulting
					</h4>
					<div class="mission__descrip d-flex">
						<div class="missions__left">
							<p class="missions__text">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.	
							</p>
							<p class="missions__text">
								Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							</p>
							<a href="#" class="missions__link">
								Узнать больше
							</a>
						</div>
						<div class="missions__right">
							<p class="missions__text">
								Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							</p>
							<p class="missions__text">
								Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?	
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-12">
					<h4 class="missions__title">
						Новости
					</h4>
					<div class="new d-flex">
						<a href="#">
							<img src="img/truck5.png" alt="Truck">
						</a>
						<div class="new__descrip">
							<a href="#" class="new__text">
								LAB Consulting запускает новое направление в своих услугах
							</a>
							<p class="new__date">
								02.12.2015
							</p>
						</div>
					</div>
					<div class="new d-flex">
						<a href="#">
							<img src="img/truck5.png" alt="Truck">
						</a>
						<div class="new__descrip">
							<a href="#" class="new__text">
								LAB Consulting запускает новое направление в своих услугах
							</a>
							<p class="new__date">
								02.12.2015
							</p>
						</div>
					</div>
					<div class="new d-flex">
						<a href="#">
							<img src="img/truck5.png" alt="Truck">
						</a>
						<div class="new__descrip">
							<a href="#" class="new__text">
								LAB Consulting запускает новое направление в своих услугах
							</a>
							<p class="new__date">
								02.12.2015
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							О компании
						</h6>
						<a href="#">Видение, миссия и ценности</a>
						<a href="#">Преимущества</a>
						<a href="#">Клиенты</a>
						<a href="#">Партнеры</a>
						<a href="#">Контакты</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Пресс – центр
						</h6>
						<a href="#">Новости</a>
						<a href="#">Публикации</a>
						<a href="#">Мероприятия</a>
						<a href="#">Консультация эксперта</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Услуги
						</h6>
						<a href="#">Legal (Юридическое сопровождение)</a>
						<a href="#">Accounting ( Финансовый аутсорсинг)</a>
						<a href="#">Business Consulting (Бизнес консалтинг)</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Отрасли
						</h6>
						<a href="#">Аграрный сектор</a>
						<a href="#">Внешнеэкономическая деятельность</a>
						<a href="#">ИT – бизнес</a>
						<a href="#">Оптовая и розничная торговля</a>
						<a href="#">Сфера услуг</a>
						<a href="#">Транспорт и Логистика</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Образовательный центр
						</h6>
						<a href="#">Про Образовательный Центр</a>
						<a href="#">Бизнес-тренинги, семинары, круглые столы</a>
						<a href="#">Преимущества</a>
						<a href="#">Alumni</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Соц. предпринимательство
						</h6>
						<a href="#">Социальная миссия</a>
						<a href="#">Проекты</a>
						<a href="#">Партнеры</a>
						<a href="#">Консультация эксперта</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="img/logo-footer.png" alt="Lab Consulting" class="footer__img">
				</div>
				<div class="col-lg-3 col-sm-4">
					<p class="footer__text">
						Вы хотите сотрудничать с нами?<br>У Вас есть идеи или предложения?<a href="#" class="footer__link"> Свяжитесь с нами прямо сейчас!</a>
					</p>
					<p class="footer__adress">
						65000,<br> Украина, г. Одесса Ул Базарная, 36
					</p>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="design d-flex">
						<a href="#" class="design__link">W</a>
						<div class="design__text">
							<p class="design__web">
								Дизайн и разработка
							</p>
							<a href="#" class="design__online">
								Верстка
							</a>
						</div>
					</div>
					<div class="security">
						<p class="security__text">
							© Все права защищены
						</p>
						<p class="security__text">
							LAB Consulting
						</p>
						<a href="#" class="footer__sait">
							lab-consult.com
						</a>
					</div>
				</div>
				<div class="col-lg-2 d-sm-none d-lg-block d-block col-12">
					<div class="footer__btn btn d-flex phone-btn">
						<i class="fa fa-phone fa-phone_btn"></i>
						<a href="#">
							Заказать звонок
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div style="display: none;">
	    <div class="box-modal" id="exampleModal">
	        <div class="box-modal_close arcticmodal-close">закрыть</div>
	        <form action="#" class="form">
	        	<input type="tel" name="tel" placeholder="Введите телефон">
	        	<div class="footer__btn btn d-flex form__btn">
					<i class="fa fa-phone fa-phone_btn"></i>
					<a href="#">
						Заказать звонок
					</a>
				</div>
	        </form>
	    </div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>