<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<!-- BOOTSTRAP REBOOT -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- SLICK -->
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<!-- MODAL -->
	<link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="css/main.css">
	<title>Услуги</title>
</head>
<body>
	<!-- PRELOADER -->
	<div id="page-preloader">
		<div class="csscssload-load-frame">
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
			<div class="cssload-dot"></div>
		</div>
	</div>
	<!-- PRELOADER FINISH -->
	<header class="header" id="header">
		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-7 col-4">
						<a href="index.html" class="logo">
							<img src="img/logo.png" alt="Lab Consulting">
						</a>
					</div>
					<div class="col-lg-6 d-none d-lg-block menu-collapse">
						<ul class="menu d-flex justify-content-around">
							<li class="menu__item">
								<a href="about.html">О компании</a>
							</li>
							<li class="menu__item">
								<a href="#">Пресс-центр</a>
							</li>
							<li class="menu__item">
								<a href="services.html">Услуги</a>
							</li>
							<li class="menu__item">
								<a href="#">Отрасли</a>
							</li>
							<li class="menu__item">
								<a href="contacts.html">Контакты</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-sm-4 col-5">
						<div class="header__btn btn d-flex phone-btn">
							<i class="fa fa-phone fa-phone_rotate fa-phone_btn"></i>
							<a href="#">
								Заказать звонок
							</a>
						</div>
					</div>
					<div class="col-1 d-lg-none">
						<button class="menu-open">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="header-about">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-12">
						<div class="about">
							<h1 class="about__title">
								Услуги
							</h1>
							<div class="about__link d-flex">
								<a href="index.html" class="about__home">Главная</a>
								<p class="about__descrip">→ Услуги</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-12">
						<ul class="about-menu d-flex">
							<li class="about-menu__item item-active">
								<a href="#">Legal
									<p>Юридическое сопровождение</p>
								</a>
							</li>
							<li class="about-menu__item">
								<a href="#">Accounting
									<p>Финансовый аутсорсинг</p>
								</a>
							</li>
							<li class="about-menu__item">
								<a href="#">Business Consulting
									<p>Бизнес консалтинг</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="service" id="service">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<img src="img/legal.png" alt="Legal">
				</div>
				<div class="col-lg-4 col-md-8">
					<div class="legal">
						<h3 class="legal__title">
							Юридическое сопровождение
						</h3>
						<p class="legal__text">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
						</p>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1 d-none d-lg-block">
					<div class="service__link">
						<a href="#">→  Подкатегория услуг первая</a>
						<a href="#">→  Вторая подкатегория</a>
						<a href="#">→  Маленькая услуга</a>
						<a href="#">→  Довольно длинная и замысловатая</a>
						<a href="#">→  Ещё одна</a>
						<a href="#">→  И ещё одна в конце</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="description" id="description">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="subcategory">
						<h2 class="subcategory__title">
							Вторая подкатегория
						</h2>
						<p class="subcategory__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
						</p>
						<p class="subcategory__text">
							To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
						</p>
						<p class="subcategory__text">
							To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
						</p>
						<p class="subcategory__text">
							Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
						</p>
						<p class="subcategory__text">
							To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
						</p>
						<p class="subcategory__text">
							No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
						</p>
					</div>
					<div class="free">
						<p class="free__title">
							Нужна бесплатная консультация?
						</p>
						<div class="free__phone d-flex">
							<a href="#" class="free__reservation">Оставить заявку</a>
							<a href="#" class="free__tel">+38 (048) 754-23-56</a>
						</div>
						<p class="free__text">
							Наши консультанты свяжутся с Вами максимально быстро и ответят на все интересующие Вас вопросы
						</p>
						<img src="img/phone.png" alt="Phone" class="free__img">
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="nav">
						<h6 class="nav__title">
							Навигация
						</h6>
						<div class="nav__link">
							<a href="#">Подпункт номер один</a>
							<a href="#">Второй подпункт</a>
							<a href="#" class="nav__link_long">Третья подкатегория c длинным названием</a>
							<a href="#">Категория номер четыре</a>
						</div>
					</div>
					<div class="reviews nav">
						<h6 class="reviews__title nav__title">
							Отзывы
						</h6>
						<div class="slider">
						  <div class="slide">
						  	<img src="img/photo.png" alt="">
						  	<p class="slide__title">
						  		Валерий Цукерберг
						  	</p>
						  	<p class="slide__text">
						  		al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
						  	</p>
						  	<a href="#"><i class="fab fa-facebook-f"></i></a>
						  </div>
						  <div class="slide">
						  	<img src="img/photo.png" alt="">
						  	<p class="slide__title">
						  		Валерий Цукерберг
						  	</p>
						  	<p class="slide__text">
						  		al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
						  	</p>
						  	<a href="#"><i class="fab fa-facebook-f"></i></a>
						  </div>
						  <div class="slide">
						  	<img src="img/photo.png" alt="">
						  	<p class="slide__title">
						  		Валерий Цукерберг
						  	</p>
						  	<p class="slide__text">
						  		al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
						  	</p>
						  	<a href="#"><i class="fab fa-facebook-f"></i></a>
						  </div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<section class="contact" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							О компании
						</h6>
						<a href="#">Видение, миссия и ценности</a>
						<a href="#">Преимущества</a>
						<a href="#">Клиенты</a>
						<a href="#">Партнеры</a>
						<a href="#">Контакты</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Пресс – центр
						</h6>
						<a href="#">Новости</a>
						<a href="#">Публикации</a>
						<a href="#">Мероприятия</a>
						<a href="#">Консультация эксперта</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Услуги
						</h6>
						<a href="#">Legal (Юридическое сопровождение)</a>
						<a href="#">Accounting ( Финансовый аутсорсинг)</a>
						<a href="#">Business Consulting (Бизнес консалтинг)</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Отрасли
						</h6>
						<a href="#">Аграрный сектор</a>
						<a href="#">Внешнеэкономическая деятельность</a>
						<a href="#">ИT – бизнес</a>
						<a href="#">Оптовая и розничная торговля</a>
						<a href="#">Сфера услуг</a>
						<a href="#">Транспорт и Логистика</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Образовательный центр
						</h6>
						<a href="#">Про Образовательный Центр</a>
						<a href="#">Бизнес-тренинги, семинары, круглые столы</a>
						<a href="#">Преимущества</a>
						<a href="#">Alumni</a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="info">
						<h6 class="info__title">
							Соц. предпринимательство
						</h6>
						<a href="#">Социальная миссия</a>
						<a href="#">Проекты</a>
						<a href="#">Партнеры</a>
						<a href="#">Консультация эксперта</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="img/logo-footer.png" alt="Lab Consulting" class="footer__img">
				</div>
				<div class="col-lg-3 col-sm-4">
					<p class="footer__text">
						Вы хотите сотрудничать с нами?<br>У Вас есть идеи или предложения?<a href="#" class="footer__link"> Свяжитесь с нами прямо сейчас!</a>
					</p>
					<p class="footer__adress">
						65000,<br> Украина, г. Одесса Ул Базарная, 36
					</p>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="design d-flex">
						<a href="#" class="design__link">W</a>
						<div class="design__text">
							<p class="design__web">
								Дизайн и разработка
							</p>
							<a href="#" class="design__online">
								Верстка
							</a>
						</div>
					</div>
					<div class="security">
						<p class="security__text">
							© Все права защищены
						</p>
						<p class="security__text">
							LAB Consulting
						</p>
						<a href="#" class="footer__sait">
							lab-consult.com
						</a>
					</div>
				</div>
				<div class="col-lg-2 d-sm-none d-lg-block d-block col-12">
					<div class="footer__btn btn d-flex phone-btn">
						<i class="fa fa-phone fa-phone_btn"></i>
						<a href="#">
							Заказать звонок
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div style="display: none;">
	    <div class="box-modal" id="exampleModal">
	        <div class="box-modal_close arcticmodal-close">закрыть</div>
	        <form action="#" class="form">
	        	<input type="tel" name="tel" placeholder="Введите телефон">
	        	<div class="footer__btn btn d-flex form__btn">
					<i class="fa fa-phone fa-phone_btn"></i>
					<a href="#">
						Заказать звонок
					</a>
				</div>
	        </form>
	    </div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>